- content_for :title do
  \- Sign in

.center-horizontal
  .mt-4.pt-4(style="width: #{mobile? ? '90%' : '500px'};")
    %h2 Sign in

    %p
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .row
        .col-12.mb-3
          = f.label :email, class: "form-label"
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"

      .row
        .col-12.mb-3
          = f.label :password, class: "form-label"
          = f.password_field :password, autocomplete: "current-password", class: "form-control"

      - if devise_mapping.rememberable?
        .row
          .col-12.mb-3
            = f.check_box :remember_me, class: "form-check-input"
            = f.label :remember_me, class: "form-check-label"

      .row
        .col-12
          = f.submit "Sign in", class: "btn btn-primary"
