.d-flex.flex-column.my-twitter-feeds--manage.align-items-end
  = button_to user_subscription_path(subscription), method: :delete, class: "text-danger btn" do
    = fa_solid "trash", size: 1
    Remove
  .d-flex(data-controller="clipboard")
    %span.d-none.me-3.fw-lighter(data-clipboard-target="copiedText") Copied!
    %input(type="hidden" value="#{rss_feed_url(subscription.uuid, format: :rss)}" data-clipboard-target="url")
    %a.me-3.text-primary(href="#" data-clipboard-target="copyLink" data-action="click->clipboard#copyClicked")
      = fa_solid "copy", size: 1        
    = link_to rss_feed_path(subscription.uuid, format: :rss), target: "_blank", class: "rss" do
      = fa_solid "rss", size: 1
      RSS Feed
      2